@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Fonts */
    --montserrat: "Montserrat", sans-serif;
    --opensans: "Open Sans", sans-serif;
    --poppins: "Poppins", sans-serif;

    /* Pallete */
    --azulescuro: #006d77;
    --cinza: #7a7a7a;
    --branco: #edf6f9;
    --laranjaclaro: #ffddd2;
    --laranjaescuro: #e29578;
}

body {
    background-color: #edf6f9;
}

/* Configurações Gerais */
a {
    text-decoration: none !important;
}

th,
td {
    font-size: 12px;
    padding: 0px 3px;
}

ion-icon {
    font-size: 2.4em;
    color: var(--branco);
}

footer {
    padding: 12px 0px;
    text-align: center;
    font-weight: 700;
    font-size: 0.8em;
    font-family: var(--opensans);
    color: var(--azulescuro);
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w70 {
    width: 70%;
}

.w100 {
    width: 100%;
}

.short {
    width: 75px;
}

.alinhado-esquerda {
    text-align: left;
}

.marTop {
    margin-top: 32px;
}

div.content {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.uppercase::placeholder {
    text-transform: none;
}

nav a.link-box {
    margin-right: 32px;
}

div.box {
    padding: 8px;
    border-radius: 12px;
    font-size: 0.7em;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

div.box > div.header-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
}

div.header-box > h1 {
    padding-left: 12px;
    margin-top: 12px;
    text-align: right;
    font: normal 1em var(--montserrat);
    color: var(--cinza); /* Cinza */
}

div.header-box > h1 > span {
    line-height: 12px;
    font: bold 1.4em var(--poppins);
    color: #000;
}

div.header-box > .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    border-radius: 5px;
    background-color: rgba(0, 109, 119, 0.8);

    transform: translateY(-25px);
}

.box > p {
    padding: 6px 0px;
    font-family: var(--opensans);
    color: var(--cinza);
}

/* Configurações de Select */

main {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-top: 32px;
}

div.cad {
    max-width: 630px;
    margin-bottom: 32px;
}

/* div.tab {
	max-width: 820px;
} */

main > div.bloco {
    padding: 18px;
    border-radius: 14px;
    font-family: var(--opensans);
    background-color: #fff;
    /* box-shadow: 13px -3px 22px 6px rgba(0, 0, 0, 0.1); */
}

main > div#opcoes-turmas {
    display: flex;
    flex-direction: column;
    margin: auto;

    max-width: 600px;
}

main > div.bloco > div.header > h1 {
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 1.2em;
}

main div#header-select > h1 {
    font-family: var(--poppins);
}

div.header > h1 > span {
    font-family: var(--poppins);
    font-style: italic;
    font-weight: bold;
}

div.line {
    display: flex;
    gap: 8px;
    padding-bottom: 12px;
}

div.line > input,
form > textarea {
    padding: 8px;
    border: 1px solid var(--cinza);
    border-radius: 10px;
    font-family: var(--opensans);
    outline: none;
}

div.wrap {
    flex-wrap: wrap;
}

div.wrap > div.item-radio {
    display: flex;
}

div.wrap > div.item-radio > label {
    padding-left: 5px;
    color: black;
}

form > textarea {
    width: 100%;
    height: 10rem;
}

div.body-form > form > button {
    position: relative;
    margin: 15px 0px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-family: var(--poppins);
    font-weight: 800;
    background-color: var(--azulescuro);
    cursor: pointer;
}

div.body-form > form > button > span {
    color: #fff;
}

button:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 0%;
    border-radius: 12px;
    background-color: #fff;

    transition-duration: 0.4s;
    transition-timing-function: ease;
}

div.body-form > form > button:hover::before {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border: 1px solid var(--azulescuro);
    color: var(--azulescuro);
}

div.table-body > table {
    width: 100%;
    border-collapse: collapse;
}

div.table-body > table > tbody {
    text-align: center;
}

/* Cor e Opacidade */
div.table-body > table th,
div.table-body > table td.num {
    color: #000;
    opacity: 35%;
}

div.table-body > table th {
    border-bottom: 1px solid #d3d3d3;
    font-family: var(--montserrat);
}

div.table-body > table td {
    padding: 9px 0px;
}

div.table-body > table td.bold {
    font-family: var(--poppins);
    font-weight: 700;
    text-align: left;
}

div.table-body > table td.num {
    text-align: center;
}

div.table-body > table td#td-select {
    font-size: 1em;
}

div.table-body > table td#td-select > a {
    color: #000;
}

td.acao {
    display: flex;
    justify-content: center;
    align-content: center;
}

td.acao button {
    padding: 5px 12px;
    border: none;
    border-radius: 12px;
    background-color: var(--azulescuro);

    transition-duration: 0.5s;
}

td.acao button ion-icon {
    font-size: 1.7em;
}

td.acao button:hover {
    border: 1px solid var(--azulescuro);
    background-color: #fff;
}

td.acao button:hover ion-icon {
    color: var(--azulescuro);
}

.hover-underline {
    position: relative !important;
}

.hover-underline::after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -5px;
    width: 0%;
    height: 4px;
    background-color: var(--azulescuro);

    transition: all 0.3s ease-in-out;
}

.hover-underline:hover,
.hover-underline:hover::after {
    cursor: pointer;
}

.hover-underline:hover::after {
    width: 100%;
    left: 0px;
}

a.link-azul {
    text-decoration: underline !important;
    color: var(--azulescuro);
    display: block;
    margin: 64px 0px;
    padding-left: 24px;
}

a.link-azul::before {
    content: "\1F4E5\a0";
}

a.link-azul:hover {
    color: var(--laranjaescuro);
}

a.new {
    color: var(--azulescuro);
    border: 1px solid var(--azulescuro);
    border-radius: 7px;
    padding: 3px;
    font-family: var(--poppins);

    transition-duration: 0.3s;
}

a.new:hover {
    color: var(--laranjaescuro);
    border-color: var(--laranjaescuro);
}

img.foto-demo {
    width: 150px;
    height: 150px;
    margin-bottom: 12px;
}

select,
option {
    background-color: #006d77be;
    color: #fff;
    font-family: var(--poppins);
    padding-left: 6px;
}

/* Dashboard */

div.dashboard {
    width: 50vw;
    background-color: #fff;
    padding: 45px;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

div.dashboard > h3 {
    font-family: var(--poppins);
}

div.dashboard > h3 > span {
    font-style: italic;
}

div.dashboard > div.body div.box {
    display: flex;
    flex-direction: column;
    background-color: var(--laranjaclaro);
    max-width: 250px;
    padding: 20px;
}

div.dashboard > div.body div.box > div.header > div.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--laranjaescuro);
    padding: 12px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

div.dashboard > div.body div.box > div.body > h4 {
    /* margin: 10px 0 0 10px; */
    margin-top: 15px;
}

div.boxes {
    display: flex;
    gap: 15px;
}

.contagem > ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 45px;
}

/* Cadastro de novos alunos */

.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    padding: 32px;
    border-radius: 45px;
}

.vetor {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro {
    width: 50%;
    background-color: #fff;
    padding: 15px;
}

.cadastro > div.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
}

.cadastro > div.header > h1 {
    font-family: var(--montserrat);
}

.cadAluno {
    font-family: var(--poppins) !important;
    padding: 12px 9px;
    border-radius: 9px;
    color: #fff;
    background-color: var(--azulescuro);
    border: 2px solid transparent;
    transition-duration: 0.5s;
    animation: none !important;
}

.cadAluno:hover {
    color: var(--azulescuro);
    background-color: #fff;
    border: 2px solid var(--azulescuro);
}

#logo {
    width: 50px;
    height: 50px;
}

main .btn-voltar,
div.edicao div.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between !important;
    width: 100%;
}

.btn-voltar img,
div.edicao div.header {
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transform: translateX();
    /* margin: 0px 60px 20px 0px;	 */
    /*align-items: center;*/
}

/*
div.edicao div.header img {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px 0px 20px 0px;
	height: 40px;
}*/

/* Página Principal */

.aside {
    margin: 16px 64px;
}

.aside > h1 {
    font-size: 1.5em;
}

div.box-alertas {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #fff;
    flex-wrap: wrap;
}

div.box-alertas > div.alerta {
    margin: 32px;
    background-image: linear-gradient(
        to bottom,
        rgba(226, 148, 120, 0.15),
        rgba(255, 255, 255, 1)
    );
    border: 1px solid rgba(226, 148, 120, 0.15);
    /* box-shadow: 8px 2px 46px 0px rgba(0,0,0,0.1); */
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: 250px; */
    max-width: 350px;
}

div.box-alertas > div.alerta .icon {
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.box-alertas > div.alerta .icon ion-icon {
    color: var(--laranjaescuro);
    font-size: 1.5em;
}

div.box-alertas div.alerta > h2 {
    font-size: 1.4em;
}

div.box-alertas div.alerta p {
    font-size: 0.9em;
}

div.alerta .formulario {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

div.alerta .formulario button {
    padding: 8px 16px;
    background-color: #e294789c;
    border-radius: 12px;
    color: #fff;
    animation: none;
    transition-timing-function: ease-in-out;
    transition-duration: 0.7s;
}

div.alerta .formulario button:hover {
    background-color: var(--laranjaescuro);
}

.individual {
    max-width: 1290px;
}

.individual .body {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}

.individual h1 {
    font-family: var(--montserrat);
    font-size: 2.2em;
}

.individual h3 {
    color: var(--cinza);
    font-size: 1em;
    padding-left: 36px;
}

.individual > p {
    color: var(--azulescuro);
    font-weight: bold;
    font-size: 1em;
    margin-top: -12px;
}

.body .dados-aluno > p,
.body .dados-responsavel > p {
    margin: 0px 0px -2px 0px;
}

.body .dados-aluno span,
.body .dados-responsavel span {
    color: var(--azulescuro);
    font-weight: bold;
}

.body .dados-responsavel {
    padding-top: 12px;
}

.body > .tab {
    width: 100%;
}

.voltar {
    display: flex;
    align-items: center;
    height: 40px;
}

.line > select {
    border-radius: 12px;
    border: 1px solid var(--cinza);
    background-color: #fff;
    color: #000;
}

#form .alert-success {
    margin-top: 32px;
}

@media screen and (min-width: 560px) {
    div.acoes {
        display: flex;
        justify-content: center;
        padding: 2px;
    }

    div.acoes > a {
        width: 20%;
        padding: 5px 3px;
    }

    div.acoes button.delete {
        width: 100%;
    }

    td.bold {
        max-width: 70px;
    }

    .vetor img {
        width: 100%;
    }
}

@media screen and (max-width: 1028px) {
    .dashboard {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 509px) {
    #consulta {
        display: none;
    }

    .dashboard {
        padding: 15px;
    }

    td.acao {
        display: none;
    }

    h3 {
        font-size: 1.2em;
    }

    td > a {
        font-size: 1em;
    }

    h5 {
        font-size: 1em;
    }
}
