@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Fonts */
    --montserrat: 'Montserrat', sans-serif;
    --opensans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;

    /* Pallete */
    --azulescuro: #006d77;
    --cinza: #7a7a7a;
    --branco: #edf6f9;
    --laranjaclaro: #ffddd2;
    --laranjaescuro: #e29578;
}

div.header {
    display: flex;
    justify-content: space-between;
}

div.header > div.voltar {
    align-items: flex-start;
}

div.header > div.voltar >a > img {
    width: 42px;
}

div.header > div.aluno {
    text-align: center;
}

div.header > div.aluno > p {
    color: var(--azulescuro);
	font-weight: bold;
}

div.actions {
    display: flex;
    justify-content: center;
}

div.actions > a > ion-icon {
    color: var(--azulescuro);
}

div.actions > a > ion-icon,
div.actions button > ion-icon {
    transition-duration: .9s;
}

div.actions > a:hover > ion-icon,
div.actions button:hover > ion-icon {
    color: var(--cinza);
}

div.actions button {
    background-color: #fff;
    animation: none;
}

div.actions button > ion-icon {
    
    color: var(--laranjaescuro);
}